<link rel="stylesheet" href="/css/sign.css"> 
<!-- The basic styling and design for sign_in / sign_up and forgetPassword is same. -->
<div class="outerform">
    <div class="input-form">
        <div class="heading"> <h1>Welcome</h1></div>
        <div class="quotes">
            <quotes>
                Small process makes a person big
            </quotes>
        </div>
        
        <div class="formClass">
            <form method="post" action="/users/forgetPasswordPage" >
                <input type="email" name="email" placeholder="Enter email" required><br>
                <input type="password" name="password" placeholder="Enter password" required><br>
                <input type="password" name="confirmPassword" placeholder="Confirm password" required><br>
                
                <div class= 'buttons'>
                    <div class = 'submitButtonsForget' ><button type="submit">Change Password</button></div>
                    <!-- <div class="forgetPassword"><a href="/users/forgetPassword"> ForgetPassword </a></div> -->
                </div>
            </form>
        </div>
    </div>
</div>